@import '../../styles/variables.scss';

.advantages {
  padding-left: 30px;
  padding-right: 30px;
  color: #000000;

  @media (min-width: $tabletWidth) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $tabletWidth) {
    padding-left: 170px;
    padding-right: 170px;
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 29px;

    @media (min-width: $tabletWidth) {
      font-size: 43px;
      padding-top: 49px;
      line-height: 1.16;
    }

    @media (min-width: $desktopWidth) {
      font-size: 53px;
      line-height: 1.08;
      padding-top: 60px;
    }
  }

  &__list {
    padding-top: 32px;

    @media (min-width: $tabletWidth) {
      display: flex;
      flex-wrap: wrap;
      padding-top: 21px;
    }

    @media (min-width: $desktopWidth) {
      padding-left: 4px;
    }
  }

  &__item {
    padding-top: 53px;
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 700;
    position: relative;
    line-height: 1.18;

    &::before {
      content: "";
      position: absolute;
      top: 0;
    }

    @media (min-width: $tabletWidth) {
      font-size: 20px;
      line-height: 1.1;
      width: 50%;
      padding-top: 81px;
    }

    &--materials {
      &::before {
        width: 32px;
        height: 37px;
        left: 8px;
        background-image: url($imagesPath + "materials-icon.png");
      }

      @media (min-width: $tabletWidth) {
        order: 1;

        &::before {
          top: 28px;
          left: 12px;
        }
      }
    }

    &--style {
      &::before {
        width: 47px;
        height: 27px;
        background-image: url($imagesPath + "style-icon.png");
      }

      @media (min-width: $tabletWidth) {
        order: 3;

        &::before {
          top: 30px;
          left: 3px;
        }
      }
    }

    &--likes {
      &::before {
        width: 34px;
        height: 27px;
        top: 5px;
        left: 7px;
        background-image: url($imagesPath + "likes-icon.png");
      }

      @media (min-width: $tabletWidth) {
        order: 5;

        &::before {
          top: 34px;
          left: 9px;
        }
      }
    }

    &--love {
      &::before {
        width: 35px;
        height: 34px;
        top: 2px;
        left: 3px;
        background-image: url($imagesPath + "love-icon.png");
      }

      @media (min-width: $tabletWidth) {
        order: 2;

        &::before {
          top: 31px;
          left: 4px;
        }
      }
    }

    &--support {
      &::before {
        width: 55px;
        height: 23px;
        top: 3px;
        left: -6px;
        background-image: url($imagesPath + "support-icon.png");
      }

      @media (min-width: $tabletWidth) {
        order: 4;

        &::before {
          top: 31px;
          left: -4px;
        }
      }
    }

    &--package {
      &::before {
        width: 33px;
        height: 32px;
        left: 3px;
        background-image: url($imagesPath + "package-icon.png");
      }

      @media (min-width: $tabletWidth) {
        order: 6;

        &::before {
          top: 31px;
          left: 5px;
        }
      }
    }
  }
}
