@import '../../styles/variables.scss';

.reviews {
  padding-top: 23px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  background-image: url($imagesPath + 'delimiter-mobile.png');
  background-repeat: no-repeat;
  background-position: bottom;

  &__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
    padding-bottom: 25px;
  }

  &__button {
    width: 50%;
    height: 52px;
    background-color: transparent;
    border: 1px solid #ececec;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 37px;

    &:disabled {
      opacity: 0.3;
    }

    &--prev {
      background-image: url($imagesPath + 'arrow-left.png');
    }

    &--next {
      background-image: url($imagesPath + 'arrow-right.png');
    }
  }
}
