@import '../../styles/variables.scss';

.header {
  position: relative;

  &__navigation {
    text-align: center;

    @media (min-width: $tabletWidth) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__delivery {
    display: none;
  }

  &__menu-wrapper {
    &--closed {
      display: none;
    }

    @media (min-width: $tabletWidth) {
      &--closed {
        display: flex;
        flex-wrap: wrap;
      }
    }

    @media (min-width: $desktopWidth) {
      order: 3;
      width: 435px;
    }
  }

  &__logo-link {
    display: inline-block;
    margin-bottom: 13px;
    margin-top: 22px;

    @media (min-width: $tabletWidth) {
      align-self: start;
    }

    @media (min-width: $desktopWidth) {
      order: 2;
      margin-top: 9px;
      margin-bottom: 0;
      height: 72px;
    }
  }

  &__logo-image {
    width: 86px;
    height: 35px;

    @media (min-width: $tabletWidth) {
      width: 112px;
      height: 46px;
    }

    @media (min-width: $desktopWidth) {
      width: 149px;
      height: 72px;
    }
  }

  &__toggle-btn {
    position: absolute;
    top: 32px;
    right: 30px;
    width: 22px;
    height: 14px;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      background-color: #000000;
      height: 2px;
    }

    &--closed {
      &:before {
        top: 0;
        right: 0;
        width: 22px;
        box-shadow: 0px 6px 0px #000000, 0px 12px 0px #000000;
      }
    }

    &--opened {

      &::before,
      &::after {
        top: 7px;
        right: -4px;
        width: 28px;
      }

      &::before {
        box-shadow: none;
        transform: rotate(45deg);
      }

      &::after {
        content: "";
        position: absolute;
        background-color: #000000;
        height: 2px;
        transform: rotate(-45deg);
      }
    }

    @media (min-width: $tabletWidth) {
      display: none;
    }
  }

  &__nav-link {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.41;
    color: #000000;
    display: block;
    box-shadow: 0px 1px 0 0 #ececec, inset 0px 1px 0 0 #ececec;
    padding-top: 27px;
    padding-bottom: 28px;
    padding-right: 20px;
    padding-left: 20px;

    @media (min-width: $tabletWidth) {
      box-shadow: none;
      padding-left: 0;
      font-size: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 1.6;
      padding-right: 37px;
      display: inline;
    }

    @media (min-width: $desktopWidth) {
      font-size: 17px;
      line-height: 1.41;
      padding: 0;
    }
  }

  &__nav-item {
    @media (min-width: $tabletWidth) {
      padding-left: 0;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    @media (min-width: $desktopWidth) {
      padding-top: 28px;
      padding-right: 37px;
      padding-left: 35px;

      &:first-child {
        box-shadow: 1px 0px 0 0 #ececec;
        padding-left: 0;
      }
    }
  }

  &__search-btn,
  &__cart-btn {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.41;
    background-color: transparent;
    width: 100%;
    box-shadow: 0px 1px 0 0 #ececec, inset 0px 1px 0 0 #ececec;
    padding-top: 27px;
    padding-bottom: 28px;
    padding-right: 20px;
    padding-left: 84px;
    position: relative;
    cursor: pointer;
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      top: 32px;
      left: 32px;
      width: 18px;
      height: 18px;
      background-image: url($imagesPath + 'search-icon.png');
    }
  }

  &__cart-btn {
    &::before {
      top: 31px;
      left: 30px;
      width: 21px;
      background-image: url($imagesPath + 'cart-icon.png');
    }

    @media (min-width: $tabletWidth) {
      order: 2;
      width: 265px;
      box-shadow: none;
      padding-left: 82px;
      padding-right: 0;
      min-height: 88px;
      font-size: 18px;
      letter-spacing: 0.14px;

      &::before {
        left: 31px;
        top: 35px;
      }
    }
  }

  &__search-btn {
    @media (min-width: $tabletWidth) {
      order: 1;
      width: 84px;
      margin-left: auto;
      box-shadow: 1px 0px 0 0 #ececec, inset 1px 0px 0 0 #ececec;
      padding: 0;

      &::before {
        left: 33px;
        top: 37px;
      }
    }
  }

  &__nav-list {
    &--closed {
      display: none;
    }

    @media (min-width: $tabletWidth) {
      order: 3;
      width: 435px;

      &--closed {
        display: flex;
        flex-wrap: wrap;
      }
    }

    @media (min-width: $desktopWidth) {
      order: 1;
    }
  }

  &__sub-nav-list {
    display: none;

    @media (min-width: $desktopWidth) {
      display: flex;
      flex-wrap: wrap;
      order: 4;
      font-weight: 700;
      line-height: 1.6;
    }
  }

  &__sub-nav-link {
    color: #000000;
  }

  &__sub-nav-item {
    padding-top: 18px;

    padding-right: 31px;
    padding-left: 31px;

    &:first-child {
      padding-left: 0;
    }
  }

  &__search-btn-text {
    @media (min-width: $tabletWidth) {
      display: none;
    }
  }

  &__delivery {
    @media (min-width: $tabletWidth) {
      display: block;
      padding-top: 13px;
      order: 4;
    }

    @media (min-width: $desktopWidth) {
      order: 5;
      padding-top: 15px;
    }
  }
}
