@import '../../styles/variables.scss';

.intro {
  background-image: url($imagesPath + 'intro-background-mobile.png');
  min-height: 373px;
  background-position: 0 -17px;
  padding-top: 71px;
  background-repeat: no-repeat;

  @media (min-width: $tabletWidth) {
    padding-top: 153px;
    background-image: url($imagesPath + 'intro-background-tablet.png');
    background-position: -49px -3px;
    min-height: 746px;
  }

  @media (min-width: $desktopWidth) {
    padding-top: 152px;
    background-position: 142px -2px;
  }

  &__title {
    font-size: 27px;
    font-weight: bold;
    line-height: 1.11;
    padding-left: 38px;
    padding-right: 38px;
    text-align: center;

    @media (min-width: $tabletWidth) {
      font-size: 43px;
    }

    @media (min-width: $desktopWidth) {
      font-size: 53px;
      line-height: 1.08;
    }
  }

  &__assortment-list {
    margin-top: 122px;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.26;
    color: #fff;

    @media (min-width: $tabletWidth) {
      display: flex;
      flex-wrap: wrap;
      margin-top: 376px;
      font-size: 20px;
      line-height: 1.5;
    }

    @media (min-width: $desktopWidth) {
      margin-top: 359px;
    }
  }

  &__assortment-item {
    padding-top: 26px;
    padding-left: 28px;
    background-repeat: no-repeat;
    padding-right: 120px;
    padding-bottom: 30px;

    @media (min-width: $tabletWidth) {
      width: 50%;
      padding-right: 130px;
      padding-top: 29px;
      padding-left: 36px;
      padding-bottom: 40px;
    }

    @media (min-width: $desktopWidth) {
      padding-bottom: 46px;
      padding-right: 305px;
    }

    &--interior {
      background-image: url($imagesPath + 'interior-icon.png');
      background-color: #63d1bb;
      background-position: 245px 23px;

      @media (min-width: $tabletWidth) {
        background-image: url($imagesPath + 'wave-background-tablet.png'), url($imagesPath + 'interior-icon.png');
        background-position: -10px bottom, 259px 30px;
      }

      @media (min-width: $desktopWidth) {
        background-image: url($imagesPath + 'wave-background-desktop.png'), url($imagesPath + 'interior-icon.png');
        background-position: -36px bottom, 450px 30px;
      }
    }

    &--toys {
      background-image: url($imagesPath + 'toys-icon.png');
      background-color: #56c3b2;
      background-position: 234px 20px;

      @media (min-width: $tabletWidth) {
        background-image: url($imagesPath + 'wave-background-tablet.png'), url($imagesPath + 'toys-icon.png');
        background-position: 0px bottom, 240px 31px;
      }

      @media (min-width: $tabletWidth) {
        background-image: url($imagesPath + 'wave-background-desktop.png'), url($imagesPath + 'toys-icon.png');
        background-position: 0px bottom, 431px 31px;
      }
    }
  }

  &__wrapper.content-wrapper {
    background-color: rgb(249, 249, 249);
    border-top: 1px solid #ececec;

    @media (min-width: $tabletWidth) {
      margin-top: -61px;
    }

    @media (min-width: $desktopWidth) {
      margin-top: -45px;
    }
  }
}
